[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytimeparse = "*"
oracledb = "*"

[dev-packages]
clickhouse-driver = "*"
st2client = "*"

[requires]
python_version = "3.8"
