[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytimeparse = "*"
st2client = "==3.4.0"

[dev-packages]
clickhouse-driver = "*"

[requires]
python_version = "3.8"
